---
component: example-ticker
---
<section id="ticker-wrapper">
  <div class="container">
    <div class="row">
      <h1>Tired of stuff like this?</h1>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div id="clickbait-ticker">
        <img src="/{{assets}}/images/cnn-twitter-clickbait.png">
        <img src="/{{assets}}/images/cnn-twitter-clickbait.png">
        <img src="/{{assets}}/images/cnn-twitter-clickbait.png">
        <img src="/{{assets}}/images/cnn-twitter-clickbait.png">
        <img src="/{{assets}}/images/cnn-twitter-clickbait.png">
        <img src="/{{assets}}/images/cnn-twitter-clickbait.png">
        <img src="/{{assets}}/images/cnn-twitter-clickbait.png">
        <img src="/{{assets}}/images/cnn-twitter-clickbait.png">
        <img src="/{{assets}}/images/cnn-twitter-clickbait.png">
        <img src="/{{assets}}/images/cnn-twitter-clickbait.png">
        <img src="/{{assets}}/images/cnn-twitter-clickbait.png">
      </div>
    </div>
  </div>
</section>