---
component: example-ticker
---
<section id="ticker-wrapper">
  <div class="container">
    <div class="row">
      <h1>Tired of stuff like this?</h1>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div id="clickbait-ticker">
        <img src="/{{assets}}/images/ticker1.png">
        <img src="/{{assets}}/images/ticker2.png">
        <img src="/{{assets}}/images/ticker3.png">
        <img src="/{{assets}}/images/ticker4.png">
        <img src="/{{assets}}/images/ticker5.png">
        <img src="/{{assets}}/images/ticker6.png">
        <img src="/{{assets}}/images/ticker7.png">
        <img src="/{{assets}}/images/ticker8.png">
      </div>
    </div>
  </div>
</section>